/* saira-condensed-regular - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'),
       url('../fonts/saira-condensed-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-500 - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Saira Condensed Medium'), local('SairaCondensed-Medium'),
       url('../fonts/saira-condensed-v5-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v5-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-700 - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Saira Condensed Bold'), local('SairaCondensed-Bold'),
       url('../fonts/saira-condensed-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-800 - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 800;
  src: local('Saira Condensed ExtraBold'), local('SairaCondensed-ExtraBold'),
       url('../fonts/saira-condensed-v5-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v5-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-900 - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 900;
  src: local('Saira Condensed Black'), local('SairaCondensed-Black'),
       url('../fonts/saira-condensed-v5-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v5-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}